<div class="container-fluid" style="background: url('img/17.png'); background-color: #34495E">
  <div class="row">
  <br/><br/>
    <div class="col-lg-offset-1 col-md-offset-1 col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="img/2.jpg"/>
          <span class="card-title">English Premier League 2015/16</span>
        </div>
        <div class="card-action">
          <a href="#/english" ng-click="mainCtrl.decideURL(2015)">Read More &#x2192;</a>
        </div>
      </div><!--</card>-->
    </div>

    <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="img/2.jpg"/>
          <span class="card-title">English Premier League 2016/17</span>
        </div>
        <div class="card-action">
          <a href="#/english" ng-click="mainCtrl.decideURL(2016)">Read More &#x2192;</a>
        </div>
      </div><!--</card>-->
    </div>
  </div>
</div>