<div class="container-fluid" style="background:url('img/10.jpg');">
	<br/>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<center><h4 class="matchStatus" style="color: white;"></h4></center>
		</div>
	</div>

	<div class="row">
	    <div class="col-md-5 col-sm-5 col-xs-12">
	     	<div class="card">
		        <div class="card-image">
					<img src="img/1.jpg">
					<span class="card-title">{{singleMatchCtrl.singleMatch.team1.name}}</span>
		        </div>
		        <div id="team1Status" class="card-content">
		        	<p id="lblDetail1"></p>
		        </div>
	    	</div>
	    </div>

	    <div class="col-md-2 col-sm-2 col-xs-12">
			<div class="card">
				<div class="card-content" style="background: transparent;">
					<center>
						<p id="goalScore"></p>
					</center>
				</div>
			</div>

			<div class="card">
				<div id="matchDate" class="card-content center">
					<p>{{singleMatchCtrl.singleMatch.date | date:'d'}}</p>
					<p>{{singleMatchCtrl.singleMatch.date | date:'MMM'}}</p>
					<p>{{singleMatchCtrl.singleMatch.date | date:'yyyy'}}</p>
				</div>
			</div>
	    </div>

	    <div class="col-md-5 col-sm-5 col-xs-12">
	    	<div class="card">
	        	<div class="card-image">
	        		<img src="img/1.jpg">
	        		<span class="card-title">{{singleMatchCtrl.singleMatch.team2.name}}</span>
	        	</div>
	        	<div id="team2Status" class="card-content">
	        		<p id="lblDetail2"></p>
	        	</div>
	     	</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">